html {
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    min-width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

p,
h1,
h2,
h3 {
    margin: 0;

}

h1,
h2,
h3 {
    text-transform: uppercase;
    line-height: 30px;
    font-size: 80px;
}

/*_______HEADER_______*/

header {
    color: white;
    height: 45%;
    background: #23232e;
}

header .logo {
    display: inline-block;
    margin: 80px 0;
}

header h1 {
    margin: 110px 0 80px 0;
}

header .caption {
    display: block;
    margin: 0 auto;
    line-height: 30px;
    font-size: 18px;
    width: 30%;
}

header .arrow {
    content: url(images/Icon_arrow.png);
    display: inline-block;
    padding: 15px;
    margin: 180px 0 60px 0;
    border: 1px solid white;
    border-radius: 50%;
}

/*_______HEADER_______*/

/*_______CONTENT_______*/

.content {
    height: 55%;
    color: #464b4f;
}

.content > .promo,
.content > .my-job {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-bottom: 100px;
}

.content > .promo {
    margin: 100px auto;
    font-size: 20px;
    line-height: 40px;
}

.content .promo p:first-child {
    margin-bottom: 50px;
}

.my-job h1 {
    margin-bottom: 100px;
}

.my-job section {
    display: inline-block;
    width: 30%;
    margin-right: 15px;
    text-align: justify;
}

.my-job section h3 {
    display: inline-block;
    font-size: 16px;
}

.my-job section p {
    display: inline-block;
    font-size: 16px;
}

/*_______CONTENT_______*/